h1 {
    text-align:center;
    color: #f1f1f1;
    font-size: 3em;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media-assets-05.thedrum.com/cache/images/thedrum-prod/public-news-223017-muppets--2x1--940.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

div {
    margin: auto;
    text-align: center;
}
iframe {
    height: 4in;
    width: 6.2in;
    margin: auto auto;
    text-align: center;
}
body {
    background-color: #85a3b2;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #e1e1e1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}